
.fav-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    min-height: 100vh;
    margin-right: 20px;
    
  }
  
  .content {
    width: 80%;
    max-width: 100%;
    background: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
  }
  
  .title {
    font-size: 2em;
    color: #333;
    margin-top:20px;
    text-align: center;
    
  }
  
  
  .movie-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  

  