@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


.favorites-page {
  background: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.fav-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.content {
  width: 80%;
  max-width: 100%;
  background: rgba(194, 130, 3, 0.7);
  box-shadow: 0 8px 16px rgba(71, 66, 38, 0.6);
  border-radius: 8px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2em;
  color: rgb(45, 37, 2);
  text-align: center;
  font-family: "Cinzel", Helvetica, Arial;
  font-weight: 700;
  box-shadow: 0 8px 16px rgba(220, 192, 6, 0.5);
  background: rgba(181, 124, 11, 0.1);
  border-radius: 10px;
  width: 100%; 
  white-space: nowrap;
 margin-bottom: 20px;
}

.fav-movie-list-wrapper {
  max-height: 70vh; 
  overflow-y: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.fav-movie-list-wrapper::-webkit-scrollbar {
  display: none;
}
.fav-movie-list-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fav-movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.fav-movie-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-bottom: 2px solid #e4b60dcb;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.fav-movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}

.fav-movie-poster {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.fav-movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fav-movie-details h2 {
  margin: 15px ;
  font-size: 1.3em;
  color: rgb(50, 36, 4);
}

.delete-icon {
  font-size: 1.5em;
  color: red;
  cursor: pointer;
  margin-top: 10px;
}

.delete-icon:hover {
  color: darkred;
}
.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}