.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 200px; 
  margin: 10px; 
  padding: 10px; 
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 175px; 
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; 
}

.movie-info h3 {
  font-size: 1em; 
  color: #333;
  cursor: pointer;
  margin-bottom: 5px; 
}

.icon-buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px; 
}

.icon-button {
  font-size: 1.2em;
  margin: 0 30px; 
  color: #007bff;
  cursor: pointer;
}

.icon-button:hover {
  color: #0056b3;
}

.icon-button:last-child {
  color: #dc3545;
}

.icon-button:last-child:hover {
  color: #c82333;
}
