

.movie-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.movie-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.movie-list::-webkit-scrollbar {
  display: none; /
}

.navigation {
  margin-top: 20px;
}

.navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #0056b3;
}
