
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 200px; 
  margin: 10px; 
  padding: 10px; 
  box-shadow: 0 4px 4px rgba(208, 152, 49, 0.788); 
  border-radius: 8px;
  transition: transform 0.2s;
  
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; 
}

.movie-info h3 {
  font-size: 1 em; 
  color: #571616;
  cursor: pointer;
  margin-bottom: 5px; 
}

.icon-buttons {
  font-size: 1.5em; 
  display: flex;
  margin-top: 5px 
}

.icon-button {
  
  color: white;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.movie-title {
  font-size: 1.5em;
  color: #af740d;
  margin-top: 20px;
  text-align: center;
  font-family: "Cinzel";
  font-weight: 700;
  
}

