.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
  }
  
  .navbar button {
    background-color: #da4453;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .navbar button:hover {
    background-color: #89216b;
    
  }
  